{% extends "layout.html" %}

{% set page_title = 'Editar Perfil' %}

{% block main %}
	<section id="perfil">
		{% include 'user/_senha.html' %}
	</section>
{% endblock %}

{% block styles %}
{% endblock %}

{% block scripts %}
<script type="text/javascript">
	$(document).ready(function(){
		$("#formAlterarSenha").unbind("submit").bind("submit", function(e) {
			
			var form = $(this);
			e.preventDefault();

			$.ajax({
				url: form.attr("action"),
				method: 'POST',
				dataType: 'json',
				data: form.serializeArray(),
				success: function(json) {
					if(json.error == 0) {
						$('.pass-help').removeClass('text-danger').addClass('text-success text-center alert alert-success');
						$('[name="senha2"]').removeClass('alert-danger');
						$('[name="senha_antiga"]').removeClass('alert-danger');
					}					
					else {
						$('.pass-help').removeClass('text-success alert alert-success text-center').addClass('text-danger');
						
						if(json.error == 2){
							$('[name="senha_antiga"]').addClass('alert-danger').focus();
							$('[name="senha2"]').removeClass('alert-danger');
						}
						else if(json.error == 1) {
							$('[name="senha2"]').addClass('alert-danger').focus();
							$('[name="senha_antiga"]').removeClass('alert-danger');
						}
					}

					$('.pass-help').text(json.msg).show();
				},
				error: function() {
					alert("Erro na requisição AJAX!");
				}
			});
		});
	})
</script>
{% endblock %}