<div id="addMemberModal" class="modal fade" role="dialog">
	<form id="formAddMember" action="{{ root }}/equipe/add-member" method="POST">
		<input type="hidden" name="id_projeto" value="{{ app.parametros[2] }}">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Adicionar Membro </h4>
				</div>
				<div class="modal-body">
					<h3 class="intern" style="margin-top: 20px;"> Informações Gerais </h3>
					<div class="row">
						<div class="col-sm-6 mgb15">
							<label class="value">* Usuário </label>
							<select name="nome" class="value btn-flat required">
								<option value=""> Selecione uma opção... </option>
								{% for usuario in usuarios %}
									<option value="{{ usuario.id }}"> {{ usuario.login }} </option>
								{% endfor %}
							</select> 
						</div>
						<div class="col-sm-6 mgb15" style="max-height: 77px;">
							<label class="value">* Função </label>
							<select name="funcao" class="value btn-flat required">
								<option value=""> Selecione uma opção... </option>
								{% for funcao in funcoes %}
									<option value="{{ funcao.id }}"> {{ funcao.descricao }} </option>
								{% endfor %}
							</select> 
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6 mgb15">
							<label class="value">* Posição </label>
							<select name="posicao" class="value btn-flat required">
								<option value=""> Selecione uma opção... </option>
								<option value="2"> Visitante </option>
								<option value="0"> Desenvolvedor </option>
								<option value="1"> Administrador </option>
							</select> 
						</div>
					</div>
					<hr>

					<div class="row">
						<div class="col-sm-12 mgb15">
							<label class="value"> Mensagem </label>
							<textarea class="value btn-flat" name="mensagem" style="height: 170px;" placeholder="Se preferir, informe ao membro detalhes de sua função neste campo"></textarea>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<p class="alert alert-success text-center help-create mgt30" style="display:none; padding: 10px 15px;">	
								<span id='json-msg'></span> <i class="fa fa-check" style="margin-left: 3px;"></i>
							</p>
							<p class="alert alert-danger text-center error-create mgt30" style="display:none; padding: 10px 15px;">	
								<span id='json-msg'></span> <i class="fa fa-remove" style="margin-left: 3px;"></i>
							</p>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<input type="submit" class="btn btn-success" value="Confirmar">
				</div>
			</div>
		</div>
	</form>
</div>