{% set admin_level = user.nivel_privilegios == 0 or tarefa.id_autor == user.id %}
{% set dev_level = (user.nivel_privilegios <= 1) and (tarefa.id_autor == user.id or tarefa.id_usuario == user.id) %}
{% set visitor = user.nivel_privilegios == 2 %}

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1 class="section"><i class="fa fa-group mgr10"></i> Editar Tarefa </h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 breadcrumb">
			<span class="line">&nbsp;</span><a href="{{ root }}/tarefas"> Tarefas</a> / {{ tarefa.titulo }}
		</div>
	</div>
	<hr style="margin: 0px 0 30px;">

	<form id="formEditTarefa" action="{{ root }}/tarefas/update" method="POST">
		<input type="hidden" name="id" value="{{ app.parametros[2] }}">
		<input type="hidden" name="action" value="adm">
		
		<div class="row mgb15">
			<div class="col-sm-6 mgb15">
				<label class="value">* Título </label>
				<input class="value required" name="titulo" value="{{ tarefa.titulo }}">
			</div>
			<div class="col-sm-6 mgb15">
				<label class="value">* Prioridade </label>
				<select class="value required" name="prioridade" value="">
					<option value="">Selecione uma opção...</option>
					<option value="1" {{ tarefa.prioridade == 1 ? 'selected' : '' }}> Baixa </option>
					<option value="2" {{ tarefa.prioridade == 2 ? 'selected' : '' }}> Normal </option>
					<option value="3" {{ tarefa.prioridade == 3 ? 'selected' : '' }}> Alta </option>
					<option value="4" {{ tarefa.prioridade == 4 ? 'selected' : '' }}> Crítica </option>
				</select>
			</div>
		</div>
		<div class="row mgb15">
			<div class="col-sm-6 mgb15">
				<label class="value">* Categoria </label>
				<select class="value required" name="categoria">
					<option value="">Selecione uma opção...</option>
					{% for categoria in categorias %}
					<option value="{{ categoria.id }}" {{ tarefa.id_categoria == categoria.id ? 'selected' : '' }}> 
						{{ categoria.nome }} 
					</option>
					{% endfor %}
				</select>
			</div>
			<div class="col-sm-6 mgb15">
				<label class="value">* Subcategoria </label>
				<select class="value required" name="subcategoria">
					<option value="">Selecione uma categoria...</option>
					{% for subcategoria in subcategorias %}
					<option value="{{ subcategoria.id }}" {{ tarefa.id_subcategoria == subcategoria.id ? 'selected' : '' }}> 
						{{ subcategoria.nome }} 
					</option>
					{% endfor %}
				</select>
			</div>
		</div>
		<div class="row mgb15">
			<div class="col-sm-6 mgb15">
				<label class="value">* Projeto </label>
				<select class="value required" name="projeto" value="">
					<option value="">Selecione uma opção...</option>
					{% for projeto in projetos_admin %}
					<option value="{{ projeto.id }}" {{ tarefa.id_projeto == projeto.id ? 'selected' : '' }}>
						{{ projeto.nome }}
					</option>
					{% endfor %}
				</select>
			</div>
		</div>

		<hr>

		<div class="row mgb15">
			<div class="col-sm-12 mgb15">
				<label class="value">* Descrição Formal</label>
				<textarea class="value jodit_descricao_formal" name="descricao_formal">{{ tarefa.descricao_formal }}</textarea>
			</div>
		</div>
		<div class="row mgb15">
			<div class="col-sm-12">
				<label class="value">* Descrição Técnica</label>
				<textarea class="value jodit_descricao_tecnica" name="descricao_tecnica">{{ tarefa.descricao_tecnica }}</textarea>
			</div>
		</div>
		<div class="row view-dev mgb15" style="display: none;">
			<div class="col-sm-12">
				<label class="value">* Solução</label>
				<textarea class="value jodit_solucao" name="solucao">{{ tarefa.solucao }}</textarea>
			</div>
		</div>
		<div class="row view-tester mgb15" style="display: none;">
			<div class="col-sm-12">
				<label class="value">* Resultados</label>
				<textarea class="value jodit_resultados" name="resultados">{{ tarefa.resultados }}</textarea>
			</div>
		</div>
		<div class="row mgb15">
			<div class="col-sm-6 view-tester" style="display: none;">
				<label class="value">* Nível Erro</label>
				<select class="value" name="status_erro">
					<option value="">Selecione uma opção...</option>
					<option value="1"> Baixo </option>
					<option value="2"> Normal </option>
					<option value="3"> Alto </option>
					<option value="4"> Crítico </option>
				</select>							
			</div>
		</div>

		<hr>

		<div class="row mgb15">
			<div class="col-sm-6">
				<label class="value">* Data entrega </label>
				<input type="text" name="data_entrega" class="mask-datetime value required" placeholder="dd/mm/aaaa hh:mm" value="{{ tarefa.data_entrega }}">
			</div>
			<div class="col-sm-6 mgb15">
				<label class="value">* Atribuir tarefa</label>
				<select name="responsavel_tarefa" class="value required">
					<option value=""> Selecione uma opção... </option>
					<option value="1" {{ tarefa.id_usuario == 0 ? 'selected' : '' }}> A mim </option>
					<option value="2" {{ tarefa.id_usuario != 0 ? 'selected' : '' }}> À membro da equipe </option>
				</select>
			</div>
		</div>	
		<div class="row mgb15">
			<div class="col-sm-6 tempo-previsto" style="{{ tarefa.id_usuario == 0 ? '' : 'display:none' }}">
				<label class="value">* Tempo Previsto para Conclusão </label>
				<input type="text" name="tempo_previsto" class="value required mask-horario" placeholder="00h00min" value="{{ tarefa.tempo_previsto }}">
			</div>
			<div class="col-sm-6 member-resp-field" style="{{ tarefa.id_usuario != 0 ? '' : 'display:none;'}}">
				<label class="value">* Membro </label>
				<select class="value" name="responsavel_membro_tarefa" value="">
					<option value="">Selecione um projeto...</option>
					{% for membro in membros %}
						{% if membro.id != user.id %}
							%<option value="{{ membro.id }}" {{ tarefa.id_usuario == membro.id ? 'selected' : '' }}> 
								{{ membro.nome }} 
							</option>
						{% endif %}
					{% endfor %}
				</select>
			</div>
		</div>
		<div id="average-time-info" class="row mgb15" style="{{ tarefa.id_usuario == 0 ? '' : 'display:none' }}">
			<div class="col-sm-12">
				<p class="alert alert-info">
					<strong class="text-center"><i class="fa fa-clock-o" style="margin-right: 5px"></i>Tempo Médio Previsto: </strong>
					<span>{{ tempo_medio|raw }}</span>
				</p>
			</div>
		</div>	

		<hr>

		<input type="submit" class="btn btn-success" value="Confirmar">		
	</form>
</div>