<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1 class="section"><i class="fa fa-group mgr10"></i> Editar Tarefa </h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 breadcrumb">
			<span class="line">&nbsp;</span><a href="{{ root }}/tarefas"> Tarefas</a> / {{ tarefa.titulo }}
		</div>
	</div>
	<hr style="margin: 0px 0 30px;">

	<form id="formEditTarefa" action="{{ root }}/tarefas/update" method="POST">
		<input type="hidden" name="id" value="{{ app.parametros[2] }}">
		<input type="hidden" name="action" value="dev">

		<div class="row mgb15">
			<div class="col-sm-6 mgb15">
				<label class="value">* Título </label>
				<input class="value required" name="titulo" value="{{ tarefa.titulo }}">
			</div>
			<div class="col-sm-6 mgb15">
				<label class="value">* Prioridade </label>
				<div class="value required" name="prioridade" value="">
					{% if tarefa.prioridade == 1 %} Baixa
					{% elseif tarefa.prioridade == 2 %} Normal
					{% elseif tarefa.prioridade == 3 %} Alta
					{% elseif tarefa.prioridade == 4 %} Crítica
					{% endif %}
				</div>
			</div>
		</div>
		<div class="row mgb15">
			<div class="col-sm-6 mgb15">
				<label class="value">* Categoria </label>
				<div class="value required" name="categoria">
					{% for categoria in categorias %}
						{% if tarefa.id_categoria == categoria.id %} {{ categoria.nome }} {% endif %}
					{% endfor %}
				</div>
			</div>
			<div class="col-sm-6 mgb15">
				<label class="value">* Subcategoria </label>
				<div class="value required" name="subcategoria">
					{% for subcategoria in subcategorias %}
						{% if tarefa.id_subcategoria == subcategoria.id %} {{ subcategoria.nome }} {% endif %}
					{% endfor %}
				</div>
			</div>
		</div>
		<div class="row mgb15">
			<div class="col-sm-6 mgb15">
				<label class="value">* Projeto </label>
				<div class="value" name="projeto" value=""> {{ tarefa.projeto_nome }} </div>
			</div>
		</div>		

		<hr>

		<div class="row mgb15">
			<div class="col-sm-12 mgb15">
				<label class="value">* Descrição Formal</label>
				<textarea class="value required jodit_descricao_formal" name="descricao_formal">{{ tarefa.descricao_formal }}</textarea>
			</div>
		</div>
		<div class="row mgb15">
			<div class="col-sm-12">
				<label class="value">* Descrição Técnica</label>
				<textarea class="value required jodit_descricao_tecnica" name="descricao_tecnica">{{ tarefa.descricao_tecnica }}</textarea>
			</div>
		</div>
		{% if tarefas.id_categoria != 4 %}
		<div class="row view-dev mgb15">
			<div class="col-sm-12">
				<label class="value">* Solução</label>
				<textarea class="value required jodit_solucao" name="solucao">{{ tarefa.solucao }}</textarea>
			</div>
		</div>
		{% endif %}

		{% if tarefas.id_categoria == 4 %}
		<div class="row view-tester mgb15">
			<div class="col-sm-12">
				<label class="value">* Resultados</label>
				<textarea class="value required jodit_resultados" name="resultados">{{ tarefa.resultados }}</textarea>
			</div>
		</div>
		<div class="row mgb15">
			<div class="col-sm-6 view-tester" style="display: none;">
				<label class="value">* Nível Erro</label>
				<select class="value" name="status_erro">
					<option value="">Selecione uma opção...</option>
					<option value="1"> Baixo </option>
					<option value="2"> Normal </option>
					<option value="3"> Alto </option>
					<option value="4"> Crítico </option>
				</select>							
			</div>
		</div>
		{% endif %}

		<hr>

		<div class="row mgb15">
			<div class="col-sm-6">
				<label class="value">* Data entrega </label>
				<div class="value">{{ tarefa.data_entrega }}</div>
			</div>
			<div class="col-sm-6">
				<label class="value">* Tempo Previsto para Conclusão </label>
				<input type="text" name="tempo_previsto" class="value required mask-horario" placeholder="00h00min" pattern="([01]?[0-9]{1}|2[0-3]{1})h[0-5]{1}[0-9]{1}min" value="{{ tarefa.tempo_previsto }}">
			</div>
		</div>	
		{% if tempo_medio is not empty %}
		<div class="row mgb15">
			<div class="col-sm-12">
				<p class="alert alert-info" id="average-time-info">
					<strong class="text-center"><i class="fa fa-clock-o" style="margin-right: 5px"></i>Tempo Médio Previsto:</strong> {{ tempo_medio|raw }}
					<span></span>
				</p>
			</div>
		</div>	
		{% endif %}
		<div class="row mgb15">
			<div class="col-sm-6 mgb15">
				<label class="value">* Atribuir tarefa</label>
				<div class="value">
					{% if tarefa.id_usuario == 0 %} 
						A mim 
					{% else %} 
						À membro da equipe
					{% endif %}
				</div>
			</div>
			<div class="col-sm-6 mgb15 member-resp-field" style="{{ tarefa.id_usuario != 0 ? '' : 'display:none;'}}">
				<label class="value">* Membro </label>
				<div class="value" name="responsavel_membro_tarefa" value="">
					{% set found = false %}
					{% for membro in membros %}
						{% if tarefa.id_usuario == membro.id %} 
							{{ membro.nome }} 
							{% set found = true %}
						{% endif %}
					{% endfor %}

					{{ found ? '' : user.nome }}
				</div>
			</div>
		</div>

		<hr>

		<input type="submit" class="btn btn-success" value="Confirmar">		
	</form>
</div>