{% extends "layout.html" %}

{% set page_title = 'Editar Tarefa' %}

{% block main %}
	<section id="tarefas">
		{% include 'tarefas/editar/_form_editar.html' %}
	</section>
{% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ root }}/assets/css/plugins/datepicker.css">
<link rel="stylesheet" type="text/css" href="{{ root }}/assets/css/plugins/jodit.min.css">
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ root }}/assets/js/plugins/mask.js"></script>
<script type="text/javascript" src="{{ root }}/assets/js/validate.js"></script>
<script type="text/javascript" src="{{ root }}/assets/js/base/tarefas/editar.js"></script>
<script type="text/javascript" src="{{ root }}/assets/js/jodit.min.js"></script>
{% endblock %}