<div id="editProjetoModal" class="modal fade" role="dialog">
	<form id="formEditProjeto" action="{{ root }}/projetos/edit" method="POST">
		<input type="hidden" name="id" value="">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Editar Projeto </h4>
				</div>
				<div class="modal-body">
					<h3 class="intern" style="margin-top: 20px;"> Informações Gerais </h3>
					<div class="row">
						<div class="col-sm-6 mgb15">
							<label class="value"> Nome </label>
							<input class="value" name="nome" value="">
						</div>
						<div class="col-sm-6 mgb15" style="max-height: 77px;">
							<label class="value"> Identidade Visual </label>
							<input class="value" name="identidade_visual" value="">
							<span id="color-help"><span></span></span>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6 mgb15">
							<label class="value"> Website </label>
							<input class="value" name="url" value="">
						</div>
						<div class="col-sm-6 mgb15">
							<label class="value"> Privacidade </label>
							<select class="value" name="privacidade">
								<option value="0"> Público </option>
								<option value="1"> Privado </option>
							</select>
						</div>
					</div>
					
					<hr>

					<h3 class="intern" style="margin-top: 20px;"> Equipe </h3>

					<div class="row">
						<div class="col-sm-6" id="equipe-lista"></div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<hr>
							
							<div class="row">
								<div class="col-md-6 membro-custom-box-left">
									<select name="equipe_nome" class="value btn-flat">
										<option value=""> Selecione um membro... </option>
										{% for usuario in usuarios %}
											<option value="{{ usuario.id }}"> {{ usuario.login }} </option>
										{% endfor %}
									</select> 
								</div>
								<div class="col-md-6 membro-custom-box-right">
									<select name="equipe_funcao" class="value btn-flat">
										<option value=""> Selecione uma função... </option>
										{% for funcao in funcoes %}
											<option value="{{ funcao.id }}"> {{ funcao.descricao }} </option>
										{% endfor %}
									</select> 
								</div>
							</div>
							
							<br/>

							<button id="link-equipe" class="btn btn-primary">
								<i class="fa fa-user-plus" style="margin-right: 5px"></i> Adicionar Membro 
							</button>
							<a href="{{ root }}/projetos/equipe/" id="href-equipe" class="btn btn-default">
								<i class="fa fa-cog" style="margin-right: 5px"></i> Gerenciar 
							</a>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<p class="alert alert-success text-center help-edit mgt30" style="display:none; padding: 10px 15px;">	
								Projeto editado com sucesso! <i class="fa fa-check"></i>
							</p>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<input type="submit" class="btn btn-success" value="Confirmar">
				</div>
			</div>
		</div>
	</form>
</div>