{% extends "layout.html" %}

{% set page_title = 'Projetos' %}

{% block main %}
	<section id="projetos">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1 class="section"><i class="fa fa-group mgr10"></i> Projetos </h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-md-offset-2 mgt60">
				<form action="{{ root }}/projetos/equipe/">
					<div class="form-inline form-group">
						<div class="input-group">
							<span class="input-group-addon" id="sizing-addon2"><i class="fa fa-group" id="icon-sort"></i></span>
							<select name="id" class="form-control">
							{% for projeto in projetos %}
								<option value="{{ projeto.id }}"> {{ projeto.nome }} </option>
							{% endfor %}
							</select>
						</div>
						<input type="submit" value="Enviar" class="btn btn-primary">
					</div>
				</form>
			</div>
		</div>
	</section>
{% endblock %}

{% block styles %}
{% endblock %}

{% block scripts %}
<script type="text/javascript">
	$(document).ready(function(){});
</script>
{% endblock %}