{% extends "layout.html" %}

{% set page_title = 'Projetos' %}

{% block main %}
	<section id="projetos">
		{% include 'projetos/_admlista.html' %}
	</section>
	<section id="modals">
		{% include 'projetos/_modal_create.html' %}
		{% include 'projetos/_modal_edit.html' %}
		{% include 'projetos/_modal_delete.html' %}
	</scetion>
{% endblock %}

{% block styles %}
{% endblock %}

{% block scripts %}
<script type="text/javascript">
	$(document).ready(function(){

		$('[name="sort_type"]').on("change", function(){
			var sort = $(this).find(":selected").attr("data-sort");
			$("#icon-sort").removeClass().addClass(sort);
		});

		$('[name="sort_privacidade"]').on("change", function(){
			var sort = $(this).find(":selected").attr("data-sort");
			$("#icon-sort2").removeClass().addClass(sort);
		});

		$("#turnOnModal").click(function(e){
			e.preventDefault();
			$('.help-create').hide();
			$('#formCreateProjeto input[type="submit"]').prop("disabled", false);
			$('#createProjetoModal').modal('show');			
		});

		$('body').on("keyup", '[name="identidade_visual"]', function(){
			$('#color-help span').css("background", $(this).val());
		});

		$('[name="search_titulo"],[name="sort_type"],[name="sort_privacidade"]').on("change keyup", loadAll);

		$('#formCreateProjeto').unbind("submit").bind("submit", function(e){
			e.preventDefault();
			var form = $(this);

			$.ajax({
				url: form.attr("action"),
				method: 'POST',
				dataType: 'json',
				data: form.serializeArray(),
				success: function(json) {
					if(json.success) {
						$('.help-create').show();
						$('#formCreateProjeto input[type="submit"]').prop("disabled", true);
						loadAll();
					}
					else alert("Erro na criação do projeto!");
				},
				error: function() {
					alert('Erro na requisição AJAX!');
				}
			});
		});

		$('body').on("click", ".btn-edit, .btn-remove", function() {
			var id = $(this).parent().parent().attr("data-id");
			$('#formEditProjeto input[type="submit"]').prop("disabled", false);
			$('.help-edit').hide();

			$.ajax({
				url: '../projetos/get',
				method: 'POST',
				dataType: 'json',
				data: {id: id},
				success: function(json) {
					$('#formEditProjeto [name="id"]').val(json.projeto.id);
					$('#formEditProjeto [name="nome"]').val(json.projeto.nome);
					$('#formEditProjeto [name="identidade_visual"]').val(json.projeto.identidade_visual);
					$('#color-help span').css("background", json.projeto.identidade_visual);
					$('#formEditProjeto [name="url"]').val(json.projeto.url);
					$('#formEditProjeto [name="privacidade"]').val(json.projeto.privacidade);
					$('#link-equipe').attr("href", $('#link-equipe').attr("href") + json.projeto.id);
					
					$('#editProjetoModal [name="equipe_nome"]').val("");
					$('#editProjetoModal [name="equipe_funcao"]').val("");
					$('#href-equipe').attr('href', $('#href-equipe').attr('href') + json.projeto.id);
					
					$("#editProjetoModal").modal("show");
					
					try {
						var i = 0;
						$("#editProjetoModal #equipe-lista div").remove();
						for(i; i< json.equipe.length; i++) {
							$("#editProjetoModal #equipe-lista").append(
								"<div class='value'> <i class='fa fa-user' style='margin-right:10px'></i>" + 
									json.equipe[i].login + 
									"<span class='pull-right remove-member' data-id-member='" + json.equipe[i].id + "'>" + 
										"<i class='fa fa-remove' style='margin-left:10px'></i>" +
									"</span>" +
									"<span class='pull-right' style='font-size: 12px; margin-top: 2px;'>" + 
										json.equipe[i].funcao + 
									"</span>" +
								"</div>"
							);
						}
					}
					catch(e) {
						$("#editProjetoModal #equipe-lista div").remove();
						$("#editProjetoModal #equipe-lista").append(
							"<div class='value no-user-yet'> Nenhum usuário atribuído à equipe ainda. </div>"
						);
					}					
				},
				error: function() {
					alert('Erro na requisição AJAX!');
				}
			})
		});

		$('body').on("click", ".btn-delete", function() {
			var id = $(this).parent().parent().attr("data-id");
			$('.help-edit').hide();
			$('.help-remove').hide();

			$.ajax({
				url: '../projetos/get',
				method: 'POST',
				dataType: 'json',
				data: {id: id},
				success: function(json) {
					$('#formRemoveProjeto [name="id"]').val(json.projeto.id);
					$("#removeProjetoModal").modal("show");
				},
				error: function() {
					alert('Erro na requisição AJAX!');
				}
			})
		});

		$('#formEditProjeto').unbind("submit").bind("submit", function(e){
			e.preventDefault();
			var form = $(this);

			$.ajax({
				url: form.attr("action"),
				method: 'POST',
				dataType: 'json',
				data: form.serializeArray(),
				success: function() {
					$('.help-edit').show();
					$('#formEditProjeto input[type="submit"]').prop("disabled", true);
					loadAll();
				},
				error: function() {
					alert('Erro na requisição AJAX!');
				}
			});
		});

		$('#formRemoveProjeto').unbind("submit").bind("submit", function(e){
			e.preventDefault();
			var form = $(this);

			$.ajax({
				url: form.attr("action"),
				method: 'POST',
				dataType: 'json',
				data: form.serializeArray(),
				success: function(json) {
					if(json.success){
						$("#removeProjetoModal").modal('hide');
						
						$('.task-removed-notification').fadeIn('fast');
						setTimeout(function(){
							$('.task-removed-notification').fadeOut('fast');
						}, 2000);
					}
					
					loadAll();
				},
				error: function() {
					alert('Erro na requisição AJAX!');
				}
			});
		});

		$('body').on("click", '.btn-check', function(){
			$('.task-completed-notification').fadeIn('fast');
			setTimeout(function(){
				$('.task-completed-notification').fadeOut('fast');
			}, 2000);
		});

		$('body').on('click', '#link-equipe', function(e) {
			e.preventDefault();

			var id_projeto = $('[name="id"]').val();
			var id_usuario = $('[name="equipe_nome"]').val();
			var funcao = $('[name="equipe_funcao"]').val();

			var nome = $('[name="equipe_nome"]').find(":selected").text();
			var funcao_text = $('[name="equipe_funcao"]').find(":selected").text();

			if(funcao != "" && id_usuario != "") {
				$.ajax({
					url: '../projetos/add-member',
					type: 'POST',
					dataType: 'json',
					data: {
						id_projeto : id_projeto,
						id_usuario : id_usuario,
						funcao: funcao 
					},
					success: function(json) {
						if(json.success) {
							$('#editProjetoModal #equipe-lista .no-user-yet').remove();
							$("#editProjetoModal #equipe-lista").append(
								"<div class='value'> <i class='fa fa-user' style='margin-right:10px'></i>" + 
									$.trim(nome) + 
									"<span class='pull-right remove-member' data-id-member='" + id_usuario + "'>" + 
										"<i class='fa fa-remove' style='margin-left:10px'></i>" +
									"</span>" +
									"<span class='pull-right' style='font-size: 12px; margin-top: 2px;'>" + 
										$.trim(funcao_text) + 
									"</span>" +
								"</div>"
							);
						}
						else alert(json.msg);
					}
				});				
			}
			else alert('Preencha todos os campos');

		});

		$('body').on('click', '.remove-member', function(e) {
			e.preventDefault();
			var id = $(this).data('id-member');
			var id_projeto = $('[name="id"]').val();
			var icon = $(this);
			
			$.ajax({
				url: '../projetos/remove-member',
				type: 'POST',
				dataType: 'json',
				data: {
					id : id, 
					id_projeto : id_projeto
				},
				success: function(json) {
					if(json.success) {
						$(icon).parent().remove();
					
						if($('#editProjetoModal #equipe-lista .value').length == 0) {
							$("#editProjetoModal #equipe-lista").append(
								"<div class='value no-user-yet'> Nenhum usuário atribuído à equipe ainda. </div>"
							);
						}
					}
				}
			});
		});


		function loadAll() {
			var form = $('#formFiltroProjeto');

			$.ajax({
				url: form.attr("action"),
				method: 'POST',
				dataType: 'html',
				data: form.serializeArray(),
				success: function(json) {
					$('table tbody tr').remove();
					$('table tbody').append(json);
				},
				error: function() {
					alert('Erro na requisição AJAX!');
				}
			});
		}
	});
</script>
{% endblock %}