<section id="view-table">
	<div class="row mgb15">
		<div class="col-sm-4 mgb15">
			<a class="btn btn-primary" href="{{ root }}/tarefas/novo"><i class="fa fa-plus-circle"></i> Novo </a>
		</div>
	</div>
	
	<hr>
	
	<section id="table-content">
		<div class="row">
			<div class="col-sm-3 table-box-border">
				<div class="table-box">
					<h2> Backlog </h2>
					
					{% for tarefa in tarefas_tabela.backlog %}
					<div class="task {{ tarefa.header }}">
						<!-- Header -->
						<div class="task-header">
							<p class="task-project">
								<span class="task-code"> {{ tarefa.codigo }} </span>
							</p>
							<p class="task-icons">
								<a href="{{ root }}/tarefas/editar/{{ tarefa.id }}" class="maximize">
									<i class="fa fa-window-maximize"></i> 
								</a>
								<i class="fa fa-window-close btn-close" data-tarefa-id="{{ tarefa.id }}"></i>
							</p>
						</div>
						
						<!-- Body -->
						<div class="task-body">
							<p class="task-name"> {{ tarefa.titulo }} </p>
						</div>

						<!-- Footer -->
						<div class="task-footer {{ tarefa.footer }}">
							<div class="task-data" data-toggle="tooltip" data-container="body" title="{{ tarefa.data_entrega }}">
								<i class="fa fa-clock-o"></i>
							</div>
							<div class="task-team">
								<i class="fa fa-user"></i> {{ tarefa.equipe }}
							</div>
							<div class="task-info" style="color: {{ tarefa.header == "" ? '#777;' : '' }}">	{{ tarefa.status_mensagem }} </div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
			<div class="col-sm-3 table-box-border">
				<div class="table-box">
					<h2> Trabalhando </h2>

					{% for tarefa in tarefas_tabela.trabalhando %}
					<div class="task {{ tarefa.header }}">
						<!-- Header -->
						<div class="task-header">
							<p class="task-project">
								<span class="task-code"> {{ tarefa.codigo }} </span>
							</p>
							<p class="task-icons">
								<a href="{{ root }}/tarefas/editar/{{ tarefa.id }}" class="maximize">
									<i class="fa fa-window-maximize"></i> 
								</a>
								<i class="fa fa-window-close btn-close" data-tarefa-id="{{ tarefa.id }}"></i>
							</p>
						</div>
						
						<!-- Body -->
						<div class="task-body">
							<p class="task-name"> {{ tarefa.titulo }} </p>
						</div>

						<!-- Footer -->
						<div class="task-footer {{ tarefa.footer }}">
							<div class="task-data" data-toggle="tooltip" data-container="body" title="{{ tarefa.data_entrega }}">
								<i class="fa fa-clock-o"></i>
							</div>
							<div class="task-team">
								<i class="fa fa-user"></i> {{ tarefa.equipe }}
							</div>
							<div class="task-info" style="color: {{ tarefa.header == "" ? '#777;' : '' }}">	{{ tarefa.status_mensagem }} </div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
			<div class="col-sm-3 table-box-border">
				<div class="table-box">
					<h2> Em fase de Testes </h2>

					{% for tarefa in tarefas_tabela.testes %}
					<div class="task {{ tarefa.header }}">
						<!-- Header -->
						<div class="task-header">
							<p class="task-project">
								<span class="task-code"> {{ tarefa.codigo }} </span>
							</p>
							<p class="task-icons">
								<a href="{{ root }}/tarefas/editar/{{ tarefa.id }}" class="maximize">
									<i class="fa fa-window-maximize"></i> 
								</a>
								<i class="fa fa-window-close btn-close" data-tarefa-id="{{ tarefa.id }}"></i>
							</p>
						</div>
						
						<!-- Body -->
						<div class="task-body">
							<p class="task-name"> {{ tarefa.titulo }} </p>
						</div>

						<!-- Footer -->
						<div class="task-footer {{ tarefa.footer }}">
							<div class="task-data" data-toggle="tooltip" data-container="body" title="{{ tarefa.data_entrega }}">
								<i class="fa fa-clock-o"></i>
							</div>
							<div class="task-team">
								<i class="fa fa-user"></i> {{ tarefa.equipe }}
							</div>
							<div class="task-info" style="color: {{ tarefa.header == "" ? '#777;' : '' }}">	{{ tarefa.status_mensagem }} </div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
			<div class="col-sm-3 table-box-border">
				<div class="table-box">
					<h2> Pendente avisar Cliente</h2>

					{% for tarefa in tarefas_tabela.cliente %}
					<div class="task {{ tarefa.header }}">
						<!-- Header -->
						<div class="task-header">
							<p class="task-project">
								<span class="task-code"> {{ tarefa.codigo }} </span>
							</p>
							<p class="task-icons">
								<a href="{{ root }}/tarefas/editar/{{ tarefa.id }}" class="maximize">
									<i class="fa fa-window-maximize"></i> 
								</a>
								<i class="fa fa-window-close btn-close" data-tarefa-id="{{ tarefa.id }}"></i>
							</p>
						</div>
						
						<!-- Body -->
						<div class="task-body">
							<p class="task-name"> {{ tarefa.titulo }} </p>
						</div>

						<!-- Footer -->
						<div class="task-footer {{ tarefa.footer }}">
							<div class="task-data" data-toggle="tooltip" data-container="body" title="{{ tarefa.data_entrega }}">
								<i class="fa fa-clock-o"></i>
							</div>
							<div class="task-team">
								<i class="fa fa-user"></i> {{ tarefa.equipe }}
							</div>
							<div class="task-info" style="color: {{ tarefa.header == "" ? '#777;' : '' }}">	{{ tarefa.status_mensagem }} </div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</section>
	<!-- <table id="lista-lembrete" class="table table-striped">
		<thead>
			<tr>
				<td> Título </td>
				<td class="text-center"> Prioridade </td>
				<td class="text-center"> Data Entrega </td>
				<td class="text-center"> Status </td>
				<td></td>
			</tr>
		</thead>
		<tbody>
		{% for tarefa in tarefas %}
			<tr data-id="{{ tarefa.id }}" class="{{ tarefa.status == 'Atrasado' ? 'text-danger' : ''}}">
				<td> {{ tarefa.titulo }} </td>	
				<td class="text-center"><span class="prioridade-label {{ tarefa.prioridade_label }}"> {{ tarefa.prioridade }} </span></td>	
				<td class="text-center"> {{ tarefa.data }} </td>	
				<td class="text-center"> {{ tarefa.status|raw }} </td>
				<td>
					<button class="btn-delete btn btn-default text-center pull-right btn-danger"><i class="fa fa-times"></i></button>
					<a href="{{ root }}/tarefas/editar/{{ tarefa.id }}">
						<button class="btn-edit btn btn-default text-center pull-right"><i class="fa fa-pencil"></i></button>
					</a>					
				</td>	
			</tr>
		{% endfor %}
		</tbody>
	</table> -->
</section>
<!-- Notification -->
<p class="task-completed-notification" style="display: none;"> Tarefa concluída com sucesso! </p>
<p class="task-removed-notification" style="display: none;"> Tarefa excluída com sucesso! </p>