{% extends "layout.html" %}

{% set page_title = 'Tarefas' %}

{% block main %}
	<section id="tarefas">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1 class="section"><i class="fa fa-sticky-note mgr10"></i> Tarefas </h1>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 mgt20 mgb50">
					<div class="display-filter pull-right">
						<span class="glyphicon glyphicon-th-list" data-target="#view-list"></span>
						<span class="vhr"></span>
						<span class="glyphicon glyphicon-th-large selected" data-target="#view-table"></span>
					</div>
				</div>
			</div>

			{% include 'tarefas/_lista.html' %}
			{% include 'tarefas/_tabela.html' %}
		</div>
	</section>
	<section id="modals">
		{% include 'tarefas/_modal_create.html' %}
		{% include 'tarefas/_modal_edit.html' %}
		{% include 'tarefas/_modal_delete.html' %}
	</scetion>
{% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ root }}/assets/css/plugins/datepicker.css">
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ root }}/assets/js/plugins/mask.js"></script>
<script type="text/javascript" src="{{ root }}/assets/js/validate.js"></script>
<script type="text/javascript" src="{{ root }}/assets/js/base/tarefas/index.js"></script>
{% endblock %}