{% extends "layout.html" %}

{% set page_title = 'Tarefas' %}

{% block main %}
	<section id="tarefas">
		{% include 'tarefas/_lista.html' %}
	</section>
	<section id="modals">
		{% include 'tarefas/_modal_create.html' %}
		{% include 'tarefas/_modal_edit.html' %}
		{% include 'tarefas/_modal_delete.html' %}
	</scetion>
{% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ root }}/assets/css/plugins/datepicker.css">
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ root }}/assets/js/plugins/mask.js"></script>
<script type="text/javascript" src="{{ root }}/assets/js/validate.js"></script>
<script type="text/javascript">
	$(document).ready(function(){

		$('[name="sort_type"]').on("change", function(){
			var sort = $(this).find(":selected").attr("data-sort");
			$("#icon-sort").removeClass().addClass(sort);
		});

		$('.mask-horario').mask('XXhYYmin', {
			translation: {
				'X': {
					pattern: /[0-23]/
				},
				'Y': {
					pattern: /[0-59]/
				}
			}
		});

		$('[name="categoria"]').change(function(){
			var value = $(this).find(":selected").val();

			if(value == "") {
				$('.view-dev, .view-tester').hide();
				// should set field values to empty...
			}
			else if(value != 4) {
				$('.view-tester').hide();	
				$('.view-dev').show();
			}
			else {
				$('.view-tester').show();	
				$('.view-dev').hide();	
			}
		});

		$("#turnOnModal").click(function(e){
			e.preventDefault();
			$('#createLembreteModal').modal('show');
		});

		$('[name="search_titulo"],[name="sort_type"]').on("change keyup", loadAll);

		$('#formCreateTarefa').unbind("submit").bind("submit", function(e){
			e.preventDefault();
			var form = $(this);
			if(validateForm("#formCreateTarefa")) {
				$.ajax({
					url: form.attr("action"),
					method: 'POST',
					dataType: 'json',
					data: form.serializeArray(),
					success: function() {
						window.location.reload(true);
					},
					error: function() {
						alert('Erro na requisição AJAX!');
					}
				});				
			}
			else alert("Preencha os campos obrigatórios");
		});


		$('body').on("click", ".btn-edit, .btn-remove", function() {
			var id = $(this).parent().parent().attr("data-id");
			$('.help-edit').hide();

			$.ajax({
				url: 'lembretes/get',
				method: 'POST',
				dataType: 'json',
				data: {id: id},
				success: function(json) {
					$('#formEditTarefa [name="id"]').val(json.lembrete.id);
					$('#formEditTarefa [name="titulo"]').val(json.lembrete.titulo);
					$('#formEditTarefa [name="prioridade"]').val(json.lembrete.prioridade);
					$('#formEditTarefa [name="descricao"]').val(json.lembrete.descricao);
					$('#formEditTarefa [name="data"]').val(json.lembrete.data);
					$("#editLembreteModal").modal("show");
				},
				error: function() {
					alert('Erro na requisição AJAX!');
				}
			})
		});

		$('body').on("click", ".btn-delete", function() {
			var id = $(this).parent().parent().attr("data-id");
			$('.help-edit').hide();
			$('.help-remove').hide();

			$.ajax({
				url: 'lembretes/get',
				method: 'POST',
				dataType: 'json',
				data: {id: id},
				success: function(json) {
					$('#formRemoveTarefa [name="id"]').val(json.lembrete.id);
					$('#formRemoveTarefa [name="titulo"]').val(json.lembrete.titulo);
					$('#formRemoveTarefa [name="prioridade"]').val(json.lembrete.prioridade);
					$('#formRemoveTarefa [name="descricao"]').val(json.lembrete.descricao);
					$('#formRemoveTarefa [name="data"]').val(json.lembrete.data);
					$("#removeLembreteModal").modal("show");
				},
				error: function() {
					alert('Erro na requisição AJAX!');
				}
			})
		});

		$('#formEditTarefa').unbind("submit").bind("submit", function(e){
			e.preventDefault();
			var form = $(this);

			if(validateForm("#formEditTarefa")) {
				$.ajax({
					url: form.attr("action"),
					method: 'POST',
					dataType: 'json',
					data: form.serializeArray(),
					success: function() {
						$('.help-edit').show();
						loadAll();
					},
					error: function() {
						alert('Erro na requisição AJAX!');
					}
				});
			}
			else alert("Preencha os campos obrigatórios");
		});

		$('#formRemoveTarefa').unbind("submit").bind("submit", function(e){
			e.preventDefault();
			var form = $(this);

			$.ajax({
				url: form.attr("action"),
				method: 'POST',
				dataType: 'json',
				data: form.serializeArray(),
				success: function(json) {
					if(json.success) {
						$("#removeLembreteModal").modal("hide");
						$('.task-removed-notification').fadeIn('fast');
						setTimeout(function(){
							$('.task-removed-notification').fadeOut('fast');
						}, 2000);

						$('.help-remove').show();					
						loadAll();
					}					
				},
				error: function() {
					alert('Erro na requisição AJAX!');
				}
			});
		});

		$('.material-switch input').click(function() {
			var text = $('#help-text-toggle').text();
			
			if(text == "Ativo:") {
				$('#help-text-toggle').fadeOut('fast', function(){
					$(this).text("Prontos:");
				}).fadeIn();
			}
			else {
				$('#help-text-toggle').fadeOut('fast', function(){
					$(this).text("Ativo:");
				}).fadeIn();
			}

			loadAll();
		});

		$('body').on("click", '.btn-check', function(){
			var id = $(this).parent().parent().attr("data-id");
			
			$.ajax({
				url: 'lembretes/complete',
				method: 'POST',
				dataType: 'json',
				data: { id: id },
				success: function(json) {
					if(json.success) {
						$('.task-completed-notification').fadeIn('fast');
						setTimeout(function(){
							$('.task-completed-notification').fadeOut('fast');
						}, 2000);

						loadAll();
					}
				},
				error: function() {
					alert('Erro na requisição AJAX!');
				}
			});
		});

		function loadAll() {
			var form = $('#formFiltroLembrete');

			$.ajax({
				url: form.attr("action"),
				method: 'POST',
				dataType: 'html',
				data: form.serializeArray(),
				success: function(json) {
					$('table tbody tr').remove();
					$('table tbody').append(json);
				},
				error: function() {
					alert('Erro na requisição AJAX!');
				}
			});
		}
	});
</script>
{% endblock %}