{% extends "layout.html" %}

{% set page_title = 'Nova Tarefa' %}

{% block main %}
	<section id="tarefas">
		{% include 'tarefas/_form_novo.html' %}
	</section>
{% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ root }}/assets/css/plugins/datepicker.css">
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ root }}/assets/js/plugins/mask.js"></script>
<script type="text/javascript" src="{{ root }}/assets/js/validate.js"></script>
<script type="text/javascript" src="{{ root }}/assets/js/base/tarefas/novo.js"></script>
{% endblock %}