{% extends 'layout.html' %}

{% set page_title = 'Criar Usuário' %}

{% block main %}
	{% include 'usuarios/_form-criar.html' %}
{% endblock %}

{% block styles %}
{% endblock %}

{% block scripts %}
<script type="text/javascript">
	$(document).ready(function() {
		$('#formCreate').unbind("submit").bind("submit", function(e) {
			e.preventDefault();
			var form = $(this);

			$.ajax({
				url: form.attr("action"),
				method: 'POST',
				dataType: 'json',
				data: form.serializeArray(),
				success: function(json) {
					alert(json.msg);
					if(json.success) {
						$('.form-admin').val("");
					}
				}
			})
		});
	});
</script>
{% endblock %}