/*
=================
	CALENDAR CSS
=================
*/
table.calendar { 
	border: 0;
	margin: 60px 0;
}
tr.calendar-row	{ 

}
td.calendar-day	{ 
	min-height:80px; 
	font-size:14px; 
	position:relative; 
} 
* html div.calendar-day { 
	height:80px; 
}
td.calendar-day:hover { 
	background:#eceff5; 
}
td.calendar-day-np { 
	min-height:80px; 
	text-align: center;
	color: #ccc;
} 
* html div.calendar-day-np { 
	height:80px; 
}
td.calendar-day-head { 
	font-weight:bold; 
	text-align:center; 
	padding:5px; 
}
div.day-number { 
	color:#555; 
	margin: 0 auto; 
	width: 28px; 
	height: 28px;
	line-height: 28px;
	text-align:center; 
}
/* shared */
td.calendar-day, td.calendar-day-np { 
	width: 80px; 
	vertical-align: middle;
	height: 40px;
}

/* labels */
div.day-number.event { 
	background:#b1b1b3; 
	border-radius: 50px;
	color: #fff;
	height: 30px;
	width: 30px;
	line-height: 30px;
}
div.day-number.task { 
	background:#0eabbc; 
	border-radius: 50px;
	color: #fff;
	height: 30px;
	width: 30px;
	line-height: 30px;
}