/*
=================
	LOGIN
=================
*/
.login-page .navbar-skin {
	height: 80px;
	background: #0eabbc;
	color: #fff;
	text-align: center;
	font-weight: 300;
	border: 0;
	border-radius: 0;
}
.login-page .navbar-skin p { margin: 27px 0; }

#login-box {
	background: #fff;
	border: 1px solid #E0E3E4;
	border-top: 2px solid #0eabbc;
	border-bottom: 0;
	margin-top: 60px;
	padding: 20px 15px 0;
}
#login-box label {
	text-transform: uppercase;
	color: #aaa;
	font-family: 'Montserrat';
	font-weight: lighter;
	font-size: 12px;
}
#login-box .form-control {
	margin-bottom: 30px;
}
#login .login-submit {
	background: #f7f8f9;
	border-top: 1px solid #e4e4e4;
	border-bottom: 1px solid #ddd;
	margin: 0 -15px;
	padding: 15px;
}
#login-box input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    -webkit-text-fill-color: #7c8a94 !important;
}

.inner-addon { 
    position: relative; 
}

/* style icon */
#login-box .inner-addon .fa {
  position: absolute;
  padding: 10px;
  pointer-events: none;
  top: 27px;
}

/* align icon */
#login-box .left-addon .fa  { left:  0px;}
#login-box .right-addon .fa { right: 0px;}

/* add padding  */
#login-box .left-addon input  { padding-left:  30px; }
#login-box .right-addon input { padding-right: 30px; }
/*
=================
	HEADER MENU
=================
*/
#menu {
	background: #eee;
	padding: 0;
}
#menu .navbar-nav>li>a, 
#menu .navbar-nav>li>a:focus, 
#menu .navbar-nav>li>a:active {
	color: #777;		
}
#menu .navbar-nav>li>a:hover { color: #222; }
#menu .navbar-nav>li>a>i { margin-right: 5px; }
.dropdown-menu>li>a>i { margin-right: 5px; }
#menu .navbar-nav > .active, .navbar-default .navbar-nav > .active > a, 
#menu .navbar-nav > .active > a:hover,
#menu .navbar-nav > .active > a:focus,
.navbar .active a {
    color: #333;
    background: #F9F9F9;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover { 
	background: #0eabbc;
	color: #fff;
}
/*
=================
	SECTIONS
=================
*/
#perfil>div.container,
#lembretes>div.container { 
	background: #fff; 
	padding: 30px 15px;
	border-radius: 4px;
	box-shadow: 0 2px 5px rgba(0,0,0,.05);
	border: 1px solid #E0E3E4;
	border-top: 1px solid #ddd;
}
/*
=================
	DASHBOARD
=================
*/
.section {
	background: #eee;
	border-bottom: 1px solid #d7d7d7;
	color: #555;
	text-transform: uppercase;
	font-family: 'Montserrat';
	font-size: 18px;
	padding: 10px 15px;
	margin: -30px -15px 0;
}
.intern {
	display: inline-block;
	font-size: 18px;
	color: #777;
	padding: 0 20px 3px 2px; 
	margin: 40px 0 30px;
	border-bottom: 1px solid #ddd;
}
/*
=================
	LEMBRETES
=================
*/
table thead td { font-weight: bold; }
table tbody td { vertical-align: middle !important; }
.prioridade-label {
	padding: 4px 6px;
	border-radius: 15px; 
	width: 64px;
	display: block;
	margin: 0 auto;
	font-size: 13px;
	text-shadow: 0 1px 0px rgba(0,0,0, 0.3);
}
.prioridade-label.alert-low {
	background: #2ecc71;
	color: #fff;
	border-color: #27ae60;
}
.prioridade-label.alert-normal {
	background: #f1c40f;
	color: #fff;
	border-color: #f39c12;
}
.prioridade-label.alert-danger {
	background: #e67e22;
	color: #fff;
	border-color: #d35400;
}
.prioridade-label.alert-critical {
	background: #e74c3c;
	color: #fff;
	border-color: #c0392b;
}

#lista-lembrete .btn {
	width: 38px;
	height: 34px;
}
#lista-lembrete .btn-success { padding-left: 11px; }

.datepicker{ z-index: 999999; }
/*
=================
	USER
=================
*/
.value {
	padding: 7px 15px 7px 0;
	margin-bottom: 5px;	
	color: #555;
}
div.value {
	background: #eee;
	padding-left: 15px;
	color: #333;
}
input.value, select.value, textarea.value  { 
	background: #eee;
	border: 0;
	padding: 7px 15px;
	color: #333;
	margin: 0;
	width: 100%;	
	border: 1px solid #ddd;
}
textarea.value {
	max-width: 100%;
	height: 300px;
}
input.value:focus, select.value:focus, textarea.value:focus {
	border: 1px solid #0eabbc;
	box-shadow: none;
	outline: 0;
	background: #fdfdfd;
}
input.value.alert-danger, select.value.alert-danger, textarea.value.alert-danger {
	background: #f2dede;
	color: #a94442;
	border-color: #ebccd1;
}
#perfil #trophy-box { 
	margin-top: 30px;
	border: 1px solid #ddd; 
}
#perfil #trophy-box .value { margin-bottom: 0; }
#perfil .trophies i { font-size: 28px; }
#perfil .trophies p { font-size: 20px; }
