/*
=================
	LOGIN
=================
*/
.login-page .navbar-skin {
	height: 80px;
	background: #0eabbc;
	color: #fff;
	text-align: center;
	font-weight: 300;
	border: 0;
	border-radius: 0;
}
.login-page .navbar-skin p { margin: 27px 0; }

#login-box {
	background: #fff;
	border: 1px solid #E0E3E4;
	border-top: 2px solid #0eabbc;
	border-bottom: 0;
	margin-top: 60px;
	padding: 20px 15px 0;
}
#login-box label {
	text-transform: uppercase;
	color: #aaa;
	font-family: 'Montserrat';
	font-weight: lighter;
	font-size: 12px;
}
#login-box .form-control {
	margin-bottom: 30px;
}
#login .login-submit {
	background: #f7f8f9;
	border-top: 1px solid #e4e4e4;
	border-bottom: 1px solid #ddd;
	margin: 0 -15px;
	padding: 15px;
}
#login-box input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    -webkit-text-fill-color: #7c8a94 !important;
}
#login-box input.alert-danger:-webkit-autofill {
	background: #f2dede;
	color: #a94442;
	-webkit-box-shadow: 0 0 0px 1000px #f2dede inset;
	-webkit-text-fill-color: #a94442 !important;
	border-color: #ebccd1;
}

.inner-addon { 
    position: relative; 
}

/* style icon */
#login-box .inner-addon .fa {
  position: absolute;
  padding: 10px;
  pointer-events: none;
  top: 27px;
}

/* align icon */
#login-box .left-addon .fa  { left:  0px;}
#login-box .right-addon .fa { right: 0px;}

/* add padding  */
#login-box .left-addon input  { padding-left:  30px; }
#login-box .right-addon input { padding-right: 30px; }
/*
=================
	HEADER MENU
=================
*/
#menu {
	background: #eee;
	padding: 0;
}
#menu .navbar-nav>li>a, 
#menu .navbar-nav>li>a:focus, 
#menu .navbar-nav>li>a:active {
	color: #777;		
}
#menu .navbar-nav>li>a:hover { color: #222; }
#menu .navbar-nav>li>a>i { margin-right: 5px; }
.dropdown-menu>li>a>i { margin-right: 5px; }
#menu .navbar-nav > .active, .navbar-default .navbar-nav > .active > a, 
#menu .navbar-nav > .active > a:hover,
#menu .navbar-nav > .active > a:focus,
.navbar .active a {
    color: #333;
    background: #F9F9F9;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover { 
	background: #0eabbc;
	color: #fff;
}
/*
=================
	SECTIONS & DASHBOARD
=================
*/
#perfil>div.container,
#lembretes>div.container,
#projetos>div.container, 
#tarefas>div.container,
#equipe>div.container { 
	background: #fff; 
	padding: 30px 15px;
	border-radius: 4px;
	box-shadow: 0 2px 5px rgba(0,0,0,.05);
	border: 1px solid #E0E3E4;
	border-top: 1px solid #ddd;
}

.section {
	background: #eee;
	border-bottom: 1px solid #d7d7d7;
	color: #555;
	text-transform: uppercase;
	font-family: 'Montserrat';
	font-size: 18px;
	padding: 10px 15px;
	margin: -30px -15px 0;
}
.intern {
	display: inline-block;
	font-size: 18px;
	color: #777;
	padding: 0 20px 3px 2px; 
	margin: 40px 0 30px;
	border-bottom: 1px solid #ddd;
}
.breadcrumb { 
	margin: 40px auto 10px; 
	background: white;
}
.breadcrumb span {
	background: #0eabbc;
    font-size: 18px;
    border-left: 1px solid #0eabbc;
    margin-right: 4px;
    position: relative;
    top: 2px;
}
.breadcrumb a, .breadcrumb a:focus, .breadcrumb a:hover, .breadcrumb a:visited, .breadcrumb a:active { color: #0eabbc; }

/*
=================
	LEMBRETES
=================
*/
table thead td { font-weight: bold; }
table tbody td { vertical-align: middle !important; }
.prioridade-label {
	padding: 4px 6px;
	border-radius: 15px; 
	width: 64px;
	display: block;
	margin: 0 auto;
	font-size: 13px;
	text-shadow: 0 1px 0px rgba(0,0,0, 0.3);
}
.prioridade-label.alert-low {
	background: #2ecc71;
	color: #fff;
	border-color: #27ae60;
}
.prioridade-label.alert-normal {
	background: #f1c40f;
	color: #fff;
	border-color: #f39c12;
}
.prioridade-label.alert-danger {
	background: #e67e22;
	color: #fff;
	border-color: #d35400;
}
.prioridade-label.alert-critical {
	background: #e74c3c;
	color: #fff;
	border-color: #c0392b;
}

.datepicker{ z-index: 999999; }

.btn-edit {
	border-radius: 25px;
	width: 34px;
	height: 34px;
	padding: 0;
}
.btn-edit:focus, .btn-edit:active, .btn-edit:active:focus { outline: none; }

.btn-check {
	background: transparent;
    border-radius: 25px;
    width: 34px;
    height: 34px;
    color: #2ecc71;
    padding: 0;
}
.btn-check:hover, .btn-check:focus, .btn-check:active, .btn-check:active:focus {
	color: #fff;
	background: #2ecc71 !important;
	border-color: #2ecc71 !important;
	outline: none;
}
.btn-delete {
	background: transparent;
	border-radius: 25px;
	width: 34px;
	height: 34px;
	color: #e74c3c;
	padding: 0;
}
.btn-delete:hover, .btn-delete:focus, .btn-delete:active, .btn-delete:active:focus {
	color: #fff;
	background: #e74c3c !important;
	border-color: #e74c3c !important;
	outline: none;
}

.material-switch > input[type="checkbox"] { display: none; }
.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative; 
    width: 40px;  
}
.material-switch > label::before {
    background: rgb(0, 0, 0);
    border-radius: 25px;
    content: '';
    height: 24px;
    margin-top: -12px;
    position:absolute;
    opacity: 0.15;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}
.label-primary { background-color: #0eabbc; }
#help-text-toggle {
	text-transform: uppercase;
	font-size: 12px;
	color: #bbb;
	font-weight: bold;
	text-shadow: 0 0px 0px rgba(0,0,0, 0.25);
}

.task-completed-notification {
	background: #2ecc71;
	color: #fff;
	position: fixed;
	bottom: 15px;
	width: 100%;
	text-align: center;
	margin: 0;
	padding: 15px 0;
	z-index: 999;
}
.task-removed-notification {
	background: #e74c3c;
	color: #fff;
	position: fixed;
	bottom: 15px;
	width: 100%;
	text-align: center;
	margin: 0;
	padding: 15px 0;
	z-index: 999;
}
/*
=================
	PROJETOS & EQUIPE
=================
*/
.projeto-box {
	padding: 15px;
	height: 80px;
	border-radius: 6px;
	border-bottom: 0px solid transparent;
}
.projeto-box:hover { border-bottom: 5px solid rgba(0,0,0, 0.3); }
.projeto-box p {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	text-shadow: 0 1px 1px rgba(0,0,0, 0.35);
}
.projeto-lista a, 
.projeto-lista a:hover, 
.projeto-lista a:focus, 
.projeto-lista a:visited, 
.projeto-lista a:active { text-decoration: none; }

#projetos .nav-tabs { background: #f7f7f7; }
#projetos .nav-tabs>li>a { 
	color: #777;
	width: 150px;
	text-align: center;
}
#projetos .nav-tabs>li.active>a { font-weight: bold;}

.equipe-circle {
	background: #666;
	text-align: center;
	display: inline-block;
	margin: 0 2px;
	line-height: 50px;
	font-size: 24px;
	height: 50px;
	width: 50px;
	border-radius: 50px;
	font-family: 'Montserrat';
	font-weight: lighter;
}
.equipe-circle:hover { background: #0eabbc; }
.equipe-box a,
.equipe-box a:hover,
.equipe-box a:focus,
.equipe-box a:active {
	text-decoration: none;
	color: #fff;
}
.remove-member {
	font-size: 16px; 
	position: relative; 
	top: -2px;
	color: #999;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}
.remove-member:hover, .remove-member:focus {
	color: #555;
	transition: all 0.2s ease-in-out;
}
.membro-custom-box-left { padding-right: 3px; }
.membro-custom-box-right { padding-left: 3px; }
@media(max-width: 991px) {
	.membro-custom-box-left { padding-right: 15px; }
	.membro-custom-box-right { padding-left: 15px; }
}

#projetos .about-me {
	padding: 20px 15px;
	border: 1px solid #ddd;
}
#projetos ul.sobre {
	list-style: none;
	margin-bottom: 0;
	padding: 0;
}
#projetos table.sobre { width: 50%; }
@media(max-width: 991px) {
	#projetos table.sobre { width: 75%; }
}
@media(max-width: 767px) {
	#projetos table.sobre { width: 100%; }
}
#projetos table.sobre td {	
	padding: 10px 10px 10px 15px; 
	font-size: 14px;
}
#projetos table.sobre td.alert { padding-left: 15px; }

.identidade-box {
	height: 20px;
	width: 40px;
	border-radius: 50px;
	display: block;
	margin: 0 auto;
}

#color-help {
	position: relative;
	top: -36px;
	width: 50px;
	height: 35px;
	float: right;
	border-left: 1px solid #ddd;
}
#color-help span {
	height: 26px;
	width: 40px;
	display: block;
	margin: 4px;
	position: relative;
    top: 1px;
}

/*
=================
	TAREFAS
=================
*/
/* JODIT Override */
.jodit .jodit_editor { 
	background: #eee; 
	background: #fff;
}
.jodit .jodit_editor:focus { 
	background: #fff;
	border: 1px solid #0eabbc; 
}
.jodit .jodit_workflow { box-shadow: none; }


/*
=================
	USER
=================
*/
.value {
	padding: 7px 15px 7px 0;
	margin-bottom: 5px;	
	color: #555;
}
div.value {
	background: #eee;
	padding-left: 15px;
	color: #333;
}
input.value, select.value, textarea.value  { 
	background: #eee;
	border: 0;
	padding: 7px 15px;
	color: #333;
	margin: 0;
	width: 100%;	
	border: 1px solid #ddd;
}
textarea.value {
	max-width: 100%;
	height: 300px;
}
input.value:focus, select.value:focus, textarea.value:focus {
	border: 1px solid #0eabbc;
	box-shadow: none;
	outline: 0;
	background: #fdfdfd;
}
input.value.alert-danger, select.value.alert-danger, textarea.value.alert-danger {
	background: #f2dede;
	color: #a94442;
	border-color: #ebccd1;
}
#perfil #trophy-box { 
	margin-top: 30px;
	border: 1px solid #ddd; 
}
#perfil #trophy-box .value { margin-bottom: 0; }
#perfil .trophies i { font-size: 28px; }
#perfil .trophies p { font-size: 20px; }
