{% extends "layout.html" %}

{% set page_title = 'Configurações Globais' %}

{% block main %}
	<section id="projetos">
		<div class="container">
			<div class="row">
				<div class="col-md-12 mgb30">
					<h1 class="section"><i class="fa fa-globe mgr10"></i> Configurações Globais </h1>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h3 class="intern"> Tarefas </h3><br/>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group mgb30">
						<label> Tempo para estado de Atenção <i class="fa fa-info-circle" data-toggle="tooltip" title="Tempo, em horas, até que a tarefa fique na cor amarela."></i></label>
						<select class="value mgb30">
							<option value="0"> Nunca </option>
							<option value="1"> 30 minutos </option>
							<option value="2"> 1 hora </option>
							<option value="3"> 12 horas </option>
							<option value="4" selected=""> 24 horas </option>
							<option value="5"> 48 horas </option>
						</select>
					</div>

					<div class="form-group mgb30">
						<label> Notificações por E-mail</label>
						<select class="value mgb30">
							<option value="0"> Desativado </option>
							<option value="1" selected=""> Ativado </option>
						</select>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group mgb30">
						<label> Exibir estatísticas pessoais </label>
						<select class="value mgb30">
							<option value="0"> Não </option>
							<option value="1"> Somente ao autor </option>
							<option value="2" selected=""> Somente aos responsáveis </option>
							<option value="3"> Tornar público </option>
						</select>
					</div>

					<div class="form-group mgb30">
						<label> Exibir estatísticas de projeto </label>
						<select class="value mgb30">
							<option value="0"> Não </option>
							<option value="1"> Somente ao(s) líder(es) </option>
							<option value="2" selected=""> Somente aos membros da equipe </option>
							<option value="3"> Tornar público </option>
						</select>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h3 class="intern"> Usuários </h3><br/>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<div class="form-group mgb30">
						<label> Alterar Nome </label>
						<select class="value mgb30">
							<option value="0"> Não permitido </option>
							<option value="1" selected=""> Permitido </option>							
						</select>
					</div>

					<div class="form-group mgb30">
						<label> Alterar Login </label>
						<select class="value mgb30">
							<option value="0"> Não permitido </option>
							<option value="1" selected=""> Permitido </option>
						</select>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group mgb30">
						<label> Alterar E-mail </label>
						<select class="value mgb30">
							<option value="0"> Não permitido </option>
							<option value="1" selected=""> Permitido </option>
						</select>
					</div>

					<div class="form-group mgb30">
						<label> Alterar Senha </label>
						<select class="value mgb30">
							<option value="0"> Não permitido </option>
							<option value="1" selected=""> Permitido </option>
						</select>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h3 class="intern"> Seções </h3><br/>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<div class="form-group mgb30">					
						<label> Administração </label>
						<br/>

						<div class="checkbox checkbox-primary">
							<input type="checkbox" name="survey" id="checkboxs1" value="Yes" checked>
							<label> Administrador </label>
						</div>
						<div class="checkbox checkbox-primary">
							<input type="checkbox" name="survey" id="checkboxs1" value="No">
							<label> Desenvolvedor </label>
						</div>
						<div class="checkbox checkbox-primary">
							<input type="checkbox" name="survey" id="checkboxs1" value="No">
							<label> Cliente </label>
						</div>
 					</div>

 					<div class="form-group mgb30">					
						<label> Lembretes </label>
						<br/>

						<div class="checkbox checkbox-primary">
							<input type="checkbox" name="survey" id="checkboxs1" value="Yes" checked>
							<label> Administrador </label>
						</div>
						<div class="checkbox checkbox-primary">
							<input type="checkbox" name="survey" id="checkboxs1" value="No" checked="">
							<label> Desenvolvedor </label>
						</div>
						<div class="checkbox checkbox-primary">
							<input type="checkbox" name="survey" id="checkboxs1" value="No">
							<label> Cliente </label>
						</div>
 					</div>

 					<div class="form-group mgb30">					
						<label> Equipe e Projetos </label>
						<br/>

						<div class="checkbox checkbox-primary">
							<input type="checkbox" name="survey" id="checkboxs1" value="Yes" checked>
							<label> Administrador </label>
						</div>
						<div class="checkbox checkbox-primary">
							<input type="checkbox" name="survey" id="checkboxs1" value="No" checked="">
							<label> Desenvolvedor </label>
						</div>
						<div class="checkbox checkbox-primary">
							<input type="checkbox" name="survey" id="checkboxs1" value="No">
							<label> Cliente </label>
						</div>
 					</div>
 					<div class="form-group mgb30">					
						<label> Agenda </label>
						<br/>

						<div class="checkbox checkbox-primary">
							<input type="checkbox" name="survey" id="checkboxs1" value="Yes" checked>
							<label> Administrador </label>
						</div>
						<div class="checkbox checkbox-primary">
							<input type="checkbox" name="survey" id="checkboxs1" value="No" checked="">
							<label> Desenvolvedor </label>
						</div>
						<div class="checkbox checkbox-primary">
							<input type="checkbox" name="survey" id="checkboxs1" value="No">
							<label> Cliente </label>
						</div>
 					</div>
 					<div class="form-group mgb30">					
						<label> Estatísticas </label>
						<br/>

						<div class="checkbox checkbox-primary">
							<input type="checkbox" name="survey" id="checkboxs1" value="Yes" checked>
							<label> Administrador </label>
						</div>
						<div class="checkbox checkbox-primary">
							<input type="checkbox" name="survey" id="checkboxs1" value="No" checked="">
							<label> Desenvolvedor </label>
						</div>
						<div class="checkbox checkbox-primary">
							<input type="checkbox" name="survey" id="checkboxs1" value="No">
							<label> Cliente </label>
						</div>
 					</div>
 					
 				</div>
 				<div class="col-md-6">
 					<div class="form-group mgb30">					
						<label> Tarefas (Criar) </label>
						<br/>
						
						<div class="checkbox checkbox-primary">
							<input type="checkbox" name="survey" id="checkboxs1" value="Yes" checked>
							<label> Administrador </label>
						</div>
						<div class="checkbox checkbox-primary">
							<input type="checkbox" name="survey" id="checkboxs1" value="No" checked="">
							<label> Líder de projeto </label>
						</div>
						<div class="checkbox checkbox-primary">
							<input type="checkbox" name="survey" id="checkboxs1" value="No" checked="">
							<label> Autor </label>
						</div>
						<div class="checkbox checkbox-primary">
							<input type="checkbox" name="survey" id="checkboxs1" value="No">
							<label> Responsável </label>
						</div>
						<div class="checkbox checkbox-primary">
							<input type="checkbox" name="survey" id="checkboxs1" value="No">
							<label> Membro da equipe </label>
						</div>
 					</div>
 					<div class="form-group mgb30">					
						<label> Tarefas (Editar) </label>
						<br/>
						
						<div class="checkbox checkbox-primary">
							<input type="checkbox" name="survey" id="checkboxs1" value="Yes" checked>
							<label> Administrador </label>
						</div>
						<div class="checkbox checkbox-primary">
							<input type="checkbox" name="survey" id="checkboxs1" value="No" checked="">
							<label> Líder de projeto </label>
						</div>
						<div class="checkbox checkbox-primary">
							<input type="checkbox" name="survey" id="checkboxs1" value="No" checked="">
							<label> Autor </label>
						</div>
						<div class="checkbox checkbox-primary">
							<input type="checkbox" name="survey" id="checkboxs1" value="No" checked="">
							<label> Responsável </label>
						</div>
						<div class="checkbox checkbox-primary">
							<input type="checkbox" name="survey" id="checkboxs1" value="No">
							<label> Membro da equipe </label>
						</div>
 					</div>
 					<div class="form-group mgb30">					
						<label> Tarefas (Visualizar) </label>
						<br/>
						
						<div class="checkbox checkbox-primary">
							<input type="checkbox" name="survey" id="checkboxs1" value="Yes" checked>
							<label> Administrador </label>
						</div>
						<div class="checkbox checkbox-primary">
							<input type="checkbox" name="survey" id="checkboxs1" value="No" checked="">
							<label> Líder de projeto </label>
						</div>
						<div class="checkbox checkbox-primary">
							<input type="checkbox" name="survey" id="checkboxs1" value="No" checked="">
							<label> Autor </label>
						</div>
						<div class="checkbox checkbox-primary">
							<input type="checkbox" name="survey" id="checkboxs1" value="No" checked="">
							<label> Responsável </label>
						</div>
						<div class="checkbox checkbox-primary">
							<input type="checkbox" name="survey" id="checkboxs1" value="No" checked="">
							<label> Membro da equipe </label>
						</div>
						<div class="checkbox checkbox-primary">
							<input type="checkbox" name="survey" id="checkboxs1" value="No">
							<label> Cliente </label>
						</div>
 					</div>
 					<div class="form-group mgb30">					
						<label> Tarefas (Checklist) </label>
						<br/>
						
						<div class="checkbox checkbox-primary">
							<input type="checkbox" name="survey" id="checkboxs1" value="Yes" checked>
							<label> Administrador </label>
						</div>
						<div class="checkbox checkbox-primary">
							<input type="checkbox" name="survey" id="checkboxs1" value="No" checked="">
							<label> Líder de projeto </label>
						</div>
						<div class="checkbox checkbox-primary">
							<input type="checkbox" name="survey" id="checkboxs1" value="No" checked="">
							<label> Autor </label>
						</div>
						<div class="checkbox checkbox-primary">
							<input type="checkbox" name="survey" id="checkboxs1" value="No" checked="">
							<label> Responsável </label>
						</div>
						<div class="checkbox checkbox-primary">
							<input type="checkbox" name="survey" id="checkboxs1" value="No" checked="">
							<label> Membro da equipe </label>
						</div>
						<div class="checkbox checkbox-primary">
							<input type="checkbox" name="survey" id="checkboxs1" value="No" checked="">
							<label> Cliente </label>
						</div>
 					</div>

 				</div>
 			</div>

			<hr/>

			<div class="row">
				<div class="col-md-12">
					<button class="btn btn-success"><i class="fa fa-save"></i> Salvar </button>
					<a href='{{ root }}' class="btn btn-default"><i class="fa fa-arrow-left"></i> Voltar </a>
				</div>
			</div>
		</div>

		{% include 'categorias/_modal_delete.html' %}

		<!-- Notification -->
		<p class="task-removed-notification" style="display: none;"> Configurações globais salvas com sucesso! </p>
	</section>
{% endblock %}

{% block styles %}
{% endblock %}

{% block scripts %}
<script type="text/javascript">
$(document).ready(function() {
	$('[data-toggle="tooltip"]').tooltip();
});
</script>
{% endblock %}