{% extends "layout.html" %}

{% set page_title = 'Nova Categoria' %}

{% block main %}
	<section id="projetos">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1 class="section"><i class="fa fa-list-ol mgr10"></i> Categorias </h1>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 breadcrumb">
					<span class="line">&nbsp;</span><a href="{{ root }}/categorias"> Categorias</a> / Inserir
				</div>
			</div>
			<hr style="margin: 0px 0 30px;">
			<form id="insertCategoria" action="{{ root }}/categorias/insert">				
				<div class="row">
					<div class="col-md-6 mgb10">
						<label> Nome: </label>
						<input type="text" name="nome" class="value" value="{{ categoria.nome }}" placeholder="Nome">
					</div>
				</div>
				
				<hr/>
				
				<button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Salvar </button>
				<a href='{{ root }}/categorias' class="btn btn-default"><i class="fa fa-arrow-left"></i> Voltar </a>
			</form>
		</div>
		<!-- Notification -->
		<p class="task-completed-notification" style="display: none;"> Categoria criada com sucesso! </p>
	</section>
{% endblock %}

{% block styles %}
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ root }}/assets/js/base/categorias/novo.js"></script>
{% endblock %}