{% extends "layout.html" %}

{% set page_title = 'Estatísticas' %}

{% block main %}
	<section id="projetos">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1 class="section"><i class="fa fa-group mgr10"></i> Estatísticas </h1>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 breadcrumb">
					<span class="line">&nbsp;</span><a href="{{ root }}/estatisticas"> Estatísticas</a> / Usuários / {{ nome_usuario }}
				</div>
			</div>
			<hr style="margin: 0px 0 30px;">
			{% set data = tarefas.backlog + tarefas.trabalhando + tarefas.testes + tarefas.cliente + tarefas.concluida %}
			{% if data > 0 %}
			<div class="row">
				<div class="col-md-12">
					<canvas id="status" class="center-block" width="780" height="350"></canvas>

					<p class="alert alert-warning mgt30 mgb30 text-center">
						<i class='fa fa-warning'></i> A maioria das tarefas ({{ max_tarefas.max }}) de {{ nome_usuario }} estão {{ max_tarefas.status }}. Isto corresponde a <strong>{{ max_tarefas.percent }}%</strong> do total.
					</p>
					<hr>	
				</div>
			</div>
			{% else %}
			<div class="row">
				<div class="col-md-12">
					<p class="alert alert-info text-center">
						<i class="fa fa-warning"></i> Ainda não existem tarefas atribuídas a este usuário!
					</p>
					<hr>	
				</div>
			</div>
			{% endif %}
	</section>
{% endblock %}

{% block styles %}
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ root }}/assets/js/plugins/chart.min.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		$('[data-toggle="tooltip"]').tooltip();

		var ctx = $("#status");
        var myChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: ['Backlog', 'Trabalhando', 'Testes', 'Pendente avisar Cliente', 'Concluído'],
                datasets: [
                {
                    data: [
                        {{ tarefas.backlog }}, 
                        {{ tarefas.trabalhando }}, 
                        {{ tarefas.testes }}, 
                        {{ tarefas.cliente }}, 
                        {{ tarefas.concluida }}
                    ],
                    backgroundColor: [
                            "#f44336",
                            "#ffc107",
                            "#B0BEC5",
                            "#2196f3",
                            "#4CAF50",
                        ],
                        hoverBackgroundColor: [
                            "#f66558",
                            "#ffe329",
                            "#d2dfe7",
                            "#43b8f5",
                            "#6ecf72",
                        ]
                }]
            },
            options: {
                cutoutPercentage: 65,
                circunference: 180,
                animation: {
                    animateRotate: true
                },
                responsive: true,
                title: {
                    display: true,
                    text: 'Tarefas do Usuário {{ nome_usuario }}'
                }
            }
        });
	});
</script>
{% endblock %}