{% extends "layout.html" %}

{% set page_title = 'Categorias' %}

{% block main %}
	<section id="projetos">
		<div class="container">
			<div class="row">
				<div class="col-md-12 mgb60">
					<h1 class="section"><i class="fa fa-list-ol mgr10"></i> Categorias </h1>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<table class="table table-striped table-hover">
						<thead>
							<th width="75%"> Categoria </th>
							<th width="25%"> Ações </th>
						</thead>
						<tbody>
						{% for categoria in categorias %}
							<tr>
								<td> {{ categoria.nome }} </td>
								<td>
									<a href="{{ root }}/categorias/editar/{{ categoria.id }}" class="btn btn-default btn-edit"><i class="fa fa-pencil"></i> </a>
									<a data-id="{{ categoria.id }}" class="btn btn-danger btn-delete"><i class="fa fa-remove"></i></a>
								</td>
							</tr>
						{% endfor %}
							
						</tbody>
						
					</table>
				</div>
			</div>

			<hr/>

			<div class="row">
				<div class="col-md-12">
					<a href="{{ root }}/categorias/novo" class="btn btn-primary"><i class="fa fa-plus-circle"></i> Nova </a>
				</div>
			</div>
		</div>

		{% include 'categorias/_modal_delete.html' %}

		<!-- Notification -->
		<p class="task-removed-notification" style="display: none;"> Categoria excluída com sucesso! </p>
	</section>
{% endblock %}

{% block styles %}
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ root }}/assets/js/base/categorias/index.js"></script>
{% endblock %}